<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plane.name %>
</p>

<p>
  <strong>Num rows:</strong>
  <%= @plane.num_rows %>
</p>

<p>
  <strong>Num cols:</strong>
  <%= @plane.num_cols %>
</p>

<p>
  <strong>Seat number:</strong>
  <%= @plane.seat_number %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
