<p id="notice"><%= notice %></p>

<p>
  <strong>Seat number:</strong>
  <%= @seat.seat_number %>
</p>

<p>
  <strong>Plane:</strong>
  <%= @seat.plane_id %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
