<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
      <label>Flight Number</label>
      <%= f.select :flight_id, Flight.all.map { |flight| [flight.flight_number, flight.id] }, :include_blank => true, :placeholder => "Select the flight number" %>
    </div>
  
  <div class="field">
    <label>User Name</label>
    <%= f.select :user_id, User.all.map { |user| [user.name, user.id] }, :include_blank => true, :placeholder => "Select the user name" %>
  </div>

  <div class="field">
    <label>Seats</label>
    <div id="displaySeats"></div>
    <!-- <%= f.select :user_id, User.all.map { |user| [user.name, user.id] }, :include_blank => true %> -->
  </div>  



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
